.navbar {
    overflow: hidden;
    text-decoration: none;
  }

.navbar a.active {
    color: blue;
  }

.image {
  width: 2cm;
}

.footer {
  color: white;
  background-color: blue;
  align-items: right;
}

a.linkunten {
  color: white;
}