.navbar {
    overflow: hidden;
  }

a.navbar {
  text-decoration: none;
}

.navbar a.active {
    color: blue;
  }

.image {
  width: 2cm;
}

.footer {
  color: white;
  background-color: blue;
  text-align: right;
}

a.linkunten {
  color: white;
}